/* navigation */

nav {
    position: relative;
}

body {
    margin: 0px;
}

.main {
    display: flex;
    width: auto;
    margin: 40px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
    margin-right: 30px;
}

.container2 {
    border-bottom: 1p solid black;
    display: flex;
    position: absolute;
    top: 50%;
    right: 5%;
    justify-content: right;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;

}

a {
    text-decoration: none;
    color: black;
}

.nav ul li {
    padding: 10px;

}

.search-input25 {
    border: none;
    border-bottom: 1px solid black;
    width: 50px;
    padding-right: 12px;
}

svg {
    width: 20px;
    color: rgb(104, 100, 100);
    padding-right: 12px;
fill: rgba(56, 54, 54, 0.87);
}

.search-a {
    padding-right: 12px;
    color: rgba(63, 61, 61, 0.795);

}

/* grow */

.vidtex {
    text-align: center;
    margin: 50px 0px;
    letter-spacing: 3px;
}

.grow {
    background-image: url("../media/grow.jpg");
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 50px 0px;
}

/* PASTER FADE */

.restorant {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.fade {
    background-image: url("../media/section-1/photo1.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.fade-text {
    padding: 15px;
}

.garden {
    background-image: url("../media/section-1/photo2.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.garden-text {
    padding: 15px;
}

.florist {
    background-image: url("../media/section-1/photo3.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.florist-text {
    padding: 15px;
}

.nursary {
    background-image: url("../media/section-1/photo4.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.nursary-text {
    padding: 15px;
}

/* FEED */

.feed {
    background-image: url("../media/feed.jpg");
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 50px 0px;
}

/* FEED MENU */

.feed-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.three-blue {
    background-image: url("../media/section-૨/restorant\ 1.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.three-blue-text {
    padding: 15px;
}

.bakery {
    background-image: url("../media/section-૨/bakery\ 2.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.bakery-text {
    padding: 15px;
}

.galeto {
    background-image: url("../media/section-૨/gelato\ 3.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.galeto-text {
    padding: 15px;
}

/* EDUCATE */

.educate {
    background-image: url("../media/educate.jpg");
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(15, 15, 15, 0.658);
    font-size: 60px;
    margin: 50px 0px;
}

/* EDUCATE MENU */

.educte-menu1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;

}

.unique {
    background-image: url("../media/section-3/farm\ tour\ 1.jpeg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.unique-text {
    padding: 15px;
}

.workshop {
    background-image: url("../media/section-3/workshop\ 2.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.workshop-text {
    padding: 15px;
}

.kids {
    background-image: url("../media/section-3/kids\ 3.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.kids-text {
    padding: 15px;
}

.activities {
    background-image: url("../media/section-3/activity\ 4.jpg");
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.activities-text {
    padding: 15px;
}

/* GIVE BACK */

.give-back {
    background-image: url("../media/give\ back.jpg");
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 50px 0px;
    letter-spacing: 5px;
}

.btn1 {
    padding: 15px;
    font-size: 13px;
    color: white;
    border: 2px solid white;
    background: none;
    /* margin: 230px 1px 42% -350% ; */
}

.btn1:hover {
    color: black;
    background-color: white;
}

.give-tax {
    text-align: center;
    margin-top: 100px;
    letter-spacing: 3px;
}

/* OTHER ACTIVITIES */

.whatson-img{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.image1-whatson{
    height: 300px;
    width: 350px;
}

.p-whatson{
    width: 350px;
}

.whatson-img{
    margin: 30px;
}
.other-main {
    margin: 20px;
}

.btn3 {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.btn-3 {
    border: 2px solid black;
    font-size: 18px;
    background: none;
    padding: 15px 40px;
    text-align: center;
}

.btn-3:hover {
    color: white;
    background-color: black;
}

/* all pic */

.allpic {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.pic1 {
    height: 150px;
    width: 150px;
}

/* footer */

footer {
    background-color: rgba(37, 32, 32, 0.753);
    color: white;
}

.footer-insta-logo,
.footer-facebook-logo{
    background-color: aliceblue;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.infalogo {
    display: flex;
    border: 1px soid black;
    justify-content: center; 
   padding: 25px;
   text-align: center;
   
}

.head {
    text-align: center;
}

.detail {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;

}

.typ-1 {
    height: 35px;
}

.btn4 {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.btn-4 {
    border: 2px solid rgb(184, 176, 176);
    font-size: 18px;
    background: none;
    color: rgb(184, 176, 176);
    padding: 15px 40px;
    text-align: center;
}

.btn-4:hover {
    color: white;
    background-color: black;
}

.opetax {
    text-align: center;
}

.opeli {
    text-align: center;
    padding: 15px;
    list-style: none;
}

.li-1 {
    padding: 10px;
    text-decoration: none;
}

.twobtn {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 200px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.bookbtn-in {
    padding: 15px 40px;
}

.bookbtn-in:hover {
    color: black;
    background-color: white;
}

.openingbtn-in {
    padding: 15px 40px;
}

.openingbtn-in:hover {
    color: black;
    background-color: white;
}

.time {
    text-align: center;
    margin: 30px 0px;
}

.peregraph {
    text-align: center;
    margin: 30px 0px;
}

.searchtab {
    display: flex;
    align-items: center;
    justify-content: center;

}

.foot-searchbtn{

}
.svglogo2{
    position: absolute;
    height: 25px;
    padding: 10px;
}

.search-input2 {
  
    background-repeat: no-repeat;
    border: none;
    fill: rgba(58, 53, 53, 0.651);
    padding: 15px 100px;
}


.lastli {
    text-align: center;
    font-size: small;
   padding: 35px;
}
.footer-a{
    text-decoration: none;
    color: white;
} 



